---
---

@import "{{ site.theme }}";
body {background-color: #efefef;}

#header {background:#4a8e8e;
  bottom-border:10px solid #434343;
}
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Footer</p>
</div>
