---
---

@import "{{ site.theme }}";
body {background-color: #efefef;}

#header {background:#4a8e8e;
  bottom-border:10px solid #434343;
}
  
#header nav li a{
  color:#434343;
  border:3px solid #434343;
  border-radius:20px;
  box-shadow:none;
  background-color:#ffda46;
}
    
a{
  font-weight:1000
}

#header nav {
  background: #0000ff00;
}

.MyName{
  font-family: 'Anton', sans-serif;
  font-size:42px;
  color:#e8e8e8}

#myBtn {
        position: fixed;
        bottom: 20px;
        float: right;
        right: 18.5%;
        left: 77.25%;
        max-width: 50px;
        width: 100%;
        font-size: 18px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: .5px;
        border-radius: 4px;

    }
/*On Hover Color Change*/
    #myBtn:hover {
        background-color: #7dbbf1;
    }

#myHeader {
    font-size: 48px;
    color: #4a8e8e;
  font-weight: 900;
  text-align: center;
}

.thumbnail {
    max-width: 32%;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(14, 30, 37);}

h3 {
    font-size: 16px
}
