<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- get on correct post or first if we don't have one -->
{% if page.collection %}
    {% assign current = page %}
{% else %}
    {% assign current = site.posts[0] %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}" />
    {% endif %}
    {{ seo }}
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	
	<style>
.container {
  position: relative;
  width: 50%;
}
.thumbnail {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>

<body>
	style="background-color: rgba(84,160,245,0.51)">
<div style="padding:15px 15px 2500px;font-size:30px">

	<div id="header">
		<nav>
		<span class="MyName"> Kevin Simone </span> 

            {% for static in site.pages %}
                {% if static.id %}
                    <li class="downloads"><a href="#{{ static.id }}">{{ static.title }}</a></li>
			

                {% endif %}
            {% endfor %}

		</nav>
	</div><!-- end header -->

	<div class="wrapper">
		
	
	</p><br>
	<h1 id="myHeader">Hi, I'm Kevin!</h1>
	<br>
	<h2 id="mySubHeader>A UX Designer with a passion for designing functional and beautiful experiences.</h2> 

	<p>
			
<img src="https://raw.githubusercontent.com/kevinssimone/kevinssimone.github.io/master/images/uploads/rovers-square.png" alt="Rovers Logo Thumbnail" class="thumbnail">

<img src="blob:https://modest-khorana-953f08.netlify.com/2f59e27a-8f0c-4cb4-8be3-c6247a7b9973" alt="Vikings Logo Thumbnail" class="thumbnail">

<img src="blob:https://modest-khorana-953f08.netlify.com/ea82e68e-de59-4de1-a464-15dd0dbcae9d" alt="Golden Gaels Logo" class="thumbnail">

<img src="blob:https://modest-khorana-953f08.netlify.com/851a18ba-6fe0-4b40-8a2f-ff412b510797" alt="Aqua Affliction Poster Thumbnail" class="thumbnail">

<img src="blob:https://modest-khorana-953f08.netlify.com/de309e64-fc6e-4a8f-a2f7-33aae499178c" alt="AZ Consulting Thumbnail" class="thumbnail">

<img src="blob:https://modest-khorana-953f08.netlify.com/6323cbcd-f20b-4366-9b9b-294b84c5a623" alt="South Pacific Horizons" class="thumbnail">

			</p>
	
            <section>
                <!-- then we are on the right post -->
                {% if current.thumbnail %}
                    <img src="{{ current.thumbnail }}" alt="{{ current.title }}" title="{{ current.title }}" />
                {% endif %}
                <div id="title">
                    <h1>{{ current.title }}</h1>
                    <hr>
                </div>

                {{ current.content }}

            </section>
            <section>
                {% for post in site.posts limit: 5 %}
                    {% if post.id == current.id %}
                        {% continue %}
                    {% endif %}
                    <a href="{{ post.url }}">
                    <div>
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
                    {% endif %}
                    <div id="title">
                        <h1>{{ post.title }}</h1>
                        <hr>
                    </div>

                    {{ post.content }}
                    </div>
                    </a>

                {% endfor %}
            </section>
            <section>
                {% for static in site.pages %}
                    {% if static.id %}
                        <div id="{{ static.id }}">
                        {% if static.thumbnail %}
                            <img src="{{ static.thumbnail }}" alt="{{ static.title }}" title="{{ static.title }}" />
                        {% endif %}
                        <div id="title">
                            <h1>{{ static.title }}</h1>
                            <hr>
                        </div>

                        {{ static.content }}
                        </div>

                    {% endif %}
                {% endfor %}
            </section>

	</div>
	 <button id="myBtn"><a href="#top" style="color: white">Top</a></button>
	
	<script>
		if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
	</script>
	{% if site.google_analytics %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
	</script>
	{% endif %}
    {% if page.id %}
        <script>
            window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#{{ page.id }}"
        </script>
    {% endif %}

</body>

</html>
